{{- if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "cachyos")) -}} 
#!/bin/bash

sudo pacman -S --needed - <<EOF
chezmoi
keychain
neofetch
neovim
nmap
tree
tealdeer
ghostty
librewolf-bin
EOF
{{ end -}}
