{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
brew "chezmoi"
brew "neofetch"
brew "neovim"
brew "nmap"
brew "tree"
brew "tealdeer"
cask "appcleaner"
cask "brave-browser"
cask "ghostty"
cask "librewolf", args: { no_quarantine: true }
cask "nikitabobko/tap/aerospace"
cask "proton-drive"
cask "proton-pass"
cask "protonvpn"
EOF
{{ end -}}
