{{- $mod := "alt" -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $mod = "super" -}}
{{- end -}}

auto-update-channel = stable
theme = light:Violet Light,dark:Violet Dark

{{ if eq .chezmoi.os "linux" -}}
key-remap = ctrl=alt
key-remap = alt=ctrl
keybind = performable:alt+c=copy_to_clipboard
keybind = alt+v=paste_from_clipboard

keybind = {{ $mod }}+t=new_tab
keybind = {{ $mod }}+shift+left_bracket=previous_tab
keybind = {{ $mod }}+shift+right_bracket=next_tab
keybind = {{ $mod }}+one=goto_tab:1
keybind = {{ $mod }}+two=goto_tab:2
keybind = {{ $mod }}+three=goto_tab:3
keybind = {{ $mod }}+four=goto_tab:4
keybind = {{ $mod }}+five=goto_tab:5
keybind = {{ $mod }}+six=goto_tab:6
keybind = {{ $mod }}+seven=goto_tab:7
keybind = {{ $mod }}+eight=goto_tab:8
keybind = {{ $mod }}+nine=goto_tab:9
{{- end }}

keybind = {{ $mod }}+,=previous_tab
keybind = {{ $mod }}+.=next_tab
keybind = {{ $mod }}+shift+,=move_tab:-1
keybind = {{ $mod }}+shift+.=move_tab:+1
keybind = {{ $mod }}+enter=new_split:right
keybind = {{ $mod }}+shift+enter=new_split:down
keybind = {{ $mod }}+h=goto_split:left
keybind = {{ $mod }}+j=goto_split:down
keybind = {{ $mod }}+k=goto_split:up
keybind = {{ $mod }}+l=goto_split:right
keybind = {{ $mod }}+w=close_surface
keybind = {{ $mod }}+q=quit
