#! /usr/bin/env zsh

{{- if ne .chezmoi.os "darwin" }}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{- end }}
for file in "$ZDOTDIR"/config/*.zsh(N.)
do
  source "$file"
done

for file in "$ZDOTDIR"/config.d/*.zsh(N.)
do
  source "$file"
done
